{require_otp_vsn, "17"}.

{erl_opts, [debug_info, fail_on_warning]}.

{clean_files, [
    "ebin",
    "src/*.beam"
]}.

{deps_dir, "../../deps"}.
{deps, [
    {couchbeam, ".*", {git, "git://github.com/benoitc/couchbeam", {tag, "1.1.3"}}}
]}.

{escript_name, merge_records}.
{escript_incl_apps, [
    couchbeam,
    hackney,
    idna,
    jsx,
    oauth,
    ssl_verify_hostname
]}.
