%%
%% rebar3 configuration file
%%
{plugins, [
    {wivrr, {git, "https://github.com/nlfiedler/wivrr.git", {tag, "1.0.0"}}}
]}.

{require_otp_vsn, "17|18"}.

{cover_enabled, true}.

{erl_opts, [
    debug_info,
    fail_on_warning,
    {parse_transform, lager_transform}
]}.

{pre_hooks, [
    {compile, "mkdir -p apps/tanuki_backend/priv/static/nitrogen"},
    {compile, "make -C apps/tanuki_backend copy-static"}
]}.

{profiles, [
    {prod, [
        {provider_hooks, [{pre, [{release, mkversion}]}]},
        {relx, [
            {dev_mode, false},
            {release, {tanuki, "0.1.0"}, [
                tanuki_backend,
                tanuki_incoming
            ]},
            {overlay, [
                {copy, "{{root_dir}}/apps/tanuki_backend/priv/views", "{{output_dir}}/priv/views"},
                {copy, "_build/prod/lib/tanuki_backend/Version", "{{output_dir}}/Version"}
            ]}
        ]}
    ]}
]}.

{deps, [
    {couchbeam,     {git, "https://github.com/benoitc/couchbeam",      {tag, "1.3.1"}}},
    {cowboy,        {git, "https://github.com/ninenines/cowboy",       {tag, "1.0.4"}}},
    {emagick_rs,    {git, "https://github.com/nlfiedler/emagick.rs",   {tag, "0.4.2"}}},
    {lager,         {git, "https://github.com/basho/lager",            {tag, "3.2.1"}}},
    {mimetypes,     {git, "https://github.com/spawngrid/mimetypes",    {ref, "47d37a9"}}},
    {nitrogen_core, {git, "https://github.com/nitrogen/nitrogen_core", {tag, "v2.3.1"}}},
    {nprocreg,      {git, "https://github.com/nlfiedler/nprocreg",     {tag, "v0.2.2"}}},
    {epwd_rs,       {git, "https://github.com/nlfiedler/epwd.rs",      {tag, "0.1.6"}}},
    {ranch,         {git, "https://github.com/ninenines/ranch",        {tag, "1.2.1"}}},
    {simple_bridge, {git, "https://github.com/nitrogen/simple_bridge", {tag, "v2.0.1"}}},
    {sync,          {git, "https://github.com/rustyio/sync",           {ref, "9c78e7b"}}}
]}.

{relx, [
    {dev_mode, true},
    {include_erts, false},
    {include_src, false},

    {release, {tanuki, "dev"}, [
        tanuki_backend,
        tanuki_incoming,
        % so sync works with relx
        syntax_tools,
        compiler
    ]},

    {sys_config, "./config/sys.config"},
    {vm_args, "./config/vm.args"}
]}.
