%% Tell rebar about this directory's structure
{lib_dirs, ["apps", "deps"]}.
{sub_dirs, ["apps/*"]}.

{require_otp_vsn, "17"}.

{cover_enabled, true}.

%% Compiler options
{erl_opts, [debug_info, fail_on_warning]}.

{clean_files, [
    "_rel",
    "apps/*/ebin",
    "apps/*/.eunit",
    "apps/*/logs",
    "apps/*/src/*.beam",
    "apps/*/src/nitrogen/*.beam",
    "apps/*/test/*.beam"
]}.

{deps, [
    {couchbeam,     ".*", {git, "https://github.com/benoitc/couchbeam",      {tag, "1.1.3"}}},
    {cowboy,        ".*", {git, "https://github.com/ninenines/cowboy",       {tag, "0.8.6"}}},
    {emagick,       ".*", {git, "https://github.com/kivra/emagick",          {branch, "master"}}},
    {exif,          ".*", {git, "https://github.com/nlfiedler/erlang-exif",  {tag, "2.0.0"}}},
    {mimetypes,     ".*", {git, "https://github.com/spawngrid/mimetypes",    {branch, "master"}}},
    {nitrogen_core, ".*", {git, "https://github.com/nitrogen/nitrogen_core", {tag, "v2.2.2"}}},
    {nprocreg,      ".*", {git, "https://github.com/nitrogen/nprocreg",      {tag, "v0.2.1"}}},
    {pwd,           ".*", {git, "https://github.com/nlfiedler/erlang-pwd",   {tag, "2.0.0"}}},
    {ranch,         ".*", {git, "https://github.com/ninenines/ranch",        {tag, "0.8.4"}}},
    {simple_bridge, ".*", {git, "https://github.com/nitrogen/simple_bridge", {tag, "v1.4.0"}}},
    {sync,          ".*", {git, "https://github.com/rustyio/sync",           {branch, "master"}}},
    {uuid,          ".*", {git, "https://github.com/okeuday/uuid",           {tag, "v1.3.0"}}}
]}.
