%%
%% rebar3 configuration file
%%
{plugins, [
    {wivrr, {git, "https://github.com/nlfiedler/wivrr.git", {tag, "1.0.0"}}}
]}.

{minimum_otp_vsn, "17"}.

{erl_opts, [
    debug_info,
    fail_on_warning,
    {parse_transform, lager_transform}
]}.

{deps, [
    {couchbeam,     {git, "https://github.com/benoitc/couchbeam",      {tag, "1.3.1"}}},
    {emagick_rs,    {git, "https://github.com/nlfiedler/emagick.rs",   {tag, "0.4.4"}}},
    {lager,         {git, "https://github.com/basho/lager",            {tag, "3.2.1"}}},
    {mimetypes,     {git, "https://github.com/spawngrid/mimetypes",    {ref, "47d37a9"}}},
    {epwd_rs,       {git, "https://github.com/nlfiedler/epwd.rs",      {tag, "0.1.7"}}}
]}.

{relx, [
    {dev_mode, true},
    {include_erts, false},
    {include_src, false},

    {release, {tanuki, "dev"}, [
        tanuki_backend,
        tanuki_incoming
    ]},

    {sys_config, "./config/sys.config"},
    {vm_args, "./config/vm.args"}
]}.

{profiles, [
    {prod, [
        {provider_hooks, [{pre, [{release, mkversion}]}]},
        {relx, [
            {dev_mode, false},
            {release, {tanuki, "0.1.0"}, [
                tanuki_backend,
                tanuki_incoming
            ]},
            {overlay, [
                {copy, "{{root_dir}}/apps/tanuki_backend/priv/views", "{{output_dir}}/priv/views"},
                {copy, "_build/prod/lib/tanuki_backend/Version", "{{output_dir}}/Version"}
            ]}
        ]}
    ]}
]}.
