{include_erts, false}.

{include_src, false}.

{default_release, tanuki, "0.1.0"}.

{release, {tanuki, "dev"}, [
    {tanuki_backend,  "0.1.0"},
    {tanuki_incoming, "0.1.0"},
    % so sync works with relx
    syntax_tools,
    compiler
]}.

{release, {tanuki, "0.1.0"}, [
    {tanuki_backend,  "0.1.0"},
    {tanuki_incoming, "0.1.0"}
]}.

{sys_config, "./config/sys.config"}.

{vm_args, "./config/vm.args"}.

{overlap, [
    {copy, "{{root_dir}}/apps/tanuki_backend/priv/views", "{{output_dir}}/priv/views"}
]}.
