{include_erts, false}.

{include_src, false}.

% this does not seem to have any effect
% {default_release, {tanuki, "0.1.0"}}.

{release, {tanuki, "dev"}, [
    tanuki_backend,
    tanuki_incoming,
    % so sync works with relx
    syntax_tools,
    compiler
]}.

{release, {tanuki, "0.1.0"}, [
    tanuki_backend,
    tanuki_incoming
]}.

{sys_config, "./config/sys.config"}.

{vm_args, "./config/vm.args"}.

{overlap, [
    {copy, "{{root_dir}}/apps/tanuki_backend/priv/views", "{{output_dir}}/priv/views"}
]}.
