<ul class="list-inline">
  <li><strong>Locations:</strong></li>
<%= for location <- @locations do %>
  <li><a href="<%= page_path @conn, :location, location %>"><%= location %></a></li>
<% end %>
</ul>
