#!/bin/sh
#
# PROVIDE: tanuki
# REQUIRE: NETWORKING couchdb
# KEYWORD: shutdown
#
# Start and stop the tanuki daemon using BSD-style rc.d system.
#
# $ sudo cp tanuki.rc /usr/local/etc/rc.d
# $ sudo chmod +x /usr/local/etc/rc.d/tanuki.rc
# $ sudo echo 'tanuki_enable="YES"' >> /etc/rc.conf
# $ sudo echo 'tanuki_port=8000' > /etc/rc.conf.d/tanuki
# $ sudo service tanuki start
#

. /etc/rc.subr

name=tanuki
rcvar=tanuki_enable
start_cmd="${name}_start"
stop_cmd="${name}_stop"

load_rc_config $name
: ${tanuki_enable:="yes"}
tanuki_port="${tanuki_port:-8000}"

tanuki_start() {
    # With the service command, /usr/local/bin will be absent from the PATH,
    # which this script requires, otherwise it quietly fails to start.
    LANG=en_US.UTF-8 PATH=/usr/local/bin:$PATH PORT=${tanuki_port} /opt/tanuki/bin/tanuki start
}

tanuki_stop() {
    LANG=en_US.UTF-8 PATH=/usr/local/bin:$PATH /opt/tanuki/bin/tanuki stop
}

run_rc_command "$1"
