{require_otp_vsn, "17|18"}.

{erl_opts, [debug_info, fail_on_warning]}.

{deps, [
    {couchbeam, {git, "https://github.com/benoitc/couchbeam", {tag, "1.3.0"}}}
]}.

%
% $ cd apps/rename_tags
% $ rebar3 escriptize
% $ ./_build/default/bin/rename_tags
%
{escript_name, rename_tags}.
{escript_incl_apps, [
    couchbeam,
    hackney,
    idna,
    jsx,
    ssl_verify_hostname
]}.
